@font-face {
    font-family: 'sf-slapstick-comic';
    src: url(./font_sf-slapstick-comic/SFSlapstickComic-Bold.ttf);
}

@font-face {
    font-family: 'BoyzRGrossShadowNF';
    src: url(./font_boyzrgross/BoyzRGrossShadowNF.ttf);
}


body {
    background-image: linear-gradient(45deg, black, grey);
}

.header {
    position: sticky;
    z-index:3;
    top: 0;
    width: 99%;
    height:150px;
    background-color: grey;
    border-radius: 5px;
}


p {
    font-family: 'sf-slapstick-comic','BoyzRGrossShadowNF', Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 10px;
    font-size:30px;
    font-style: italic;
    font-weight: bold;
    color:#0ee0d2;
}

/* ********************************** */
/* ********************************** */

form {
    position:relative;
    margin-left : 30px;
    background-color: white;
    padding:10px;
    /* width:max-content; */
    width:510px;
    border-radius: 5px;
    border : 2px solid black;
    box-shadow: 10px 10px 2px 1px rgba(40, 40, 170, 0.4);
}

.pinGauche {
    position:absolute;
    top:-30px;
    left:-5px;
}

.pinDroite {
    position:absolute;
    top:-20px;
    left:510px;
}

/* ********************************** */
/* ********************************** */

table {
    margin-top: 10px;
    /* margin: 50 10 50 10; */
    border-spacing: 1px;
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 10px 10px 2px 1px rgba(40, 40, 170, 0.4);
}

thead tr {
    position:sticky; 
    z-index:2; 
    left:0px;
    top:150px;
}

th#colVolume, th#colApplication {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

#fleche {
    /* margin: 0;
    padding: 0; */
    /* font-size: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

th {
    /* cursor: pointer; */
    padding: 5px;
    color:white;
    font-weight: bold;
    background-color: #088880;
}

td {
    text-align: left;
    padding: 1px;
    border-spacing: 5px;
    border: 1px solid white;
    white-space: nowrap;
}

tr:nth-child(even) { background-color: #ececec; }

tr:nth-child(odd)  { background-color: white; }
